.chat{
    /* margin-top: 100px; */
    border-radius: 8px;
    /* background-color: aqua; */
    /* width: 80%; */
    /* margin-bottom: 40px; */
}
.inbox{
    display: flex;
    width: 100%;
    height: 100%;
}
.sidebar-pop{
    position: fixed;
    top: 50%;  /* Position it at the center vertically */
    left: 50%; /* Position it at the center horizontally */
    transform: translate(-50%, -50%); /* Adjust to make the element perfectly centered */
    width: 80%; 
    height: auto; 
    /* background-color: white; */
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* Add shadow for a popup effect */
    z-index: 9999; /* Ensure it's on top of other elements */
    overflow: hidden;
}